body {
  color: #333;
}

.bg-color {
  background-color: #0071ef;
}

.hero {
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  color: #0071ef;
  min-height: 40vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero p {
  color: #000;
}

.hero .img-fluid {
  max-width: 100%;
  height: auto;
}

.services .service-box {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  transition: transform 0.3s ease;
}

.services .service-box a {
  color: black;
  text-decoration: none;
}

.services .service-box:hover {
  transform: translateY(-10px);
}

.spon-bg {
  background-color: #b5d2dd;
}

.input-group button {
  font-size: 14px;
}

.input-group .input-group-text {
  background-color: transparent;
  border-right: 0;
}

.form-control {
  border-left: 0;
}

footer {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
